@model IEnumerable<JsonDownload.Models.Youbike>
@using PagedList;
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}

<h2>Youbike</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.sno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sna)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tot)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sbi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sarea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lng)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bemp)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.sno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sna)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tot)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sbi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sarea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lng)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bemp)
            </td>
        </tr>
    }

</table>

@Html.PagedListPager((IPagedList)Model, x => Url.Action("Index", new { page = x }))